@model ProductRecipeViewModel
@{
    ViewData["Title"] = "Изменить рецепт";
}

<div class="container">
    <div class="row">
        <div class="mb-4">
            <h3>Изменить рецепт</h3>
        </div>
        <div class="col-md-6">
            <form asp-action="Edit" asp-controller="ProductRecipe">
                <div class="form-group" hidden="hidden">
                    @Html.LabelFor(m=>m.ProductId, "Продукт")
                    @Html.TextBoxFor(m=>m.ProductId, null, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.ProductId)
                </div>
                <div class="form-group">
                    <label>Продукт</label>
                    <input class="form-control" readonly="readonly" value="@(Model.Product.Number + " " + Model.Product.ShortName)" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Version, "Версия")
                    @Html.TextBoxFor(m=>m.Version, null, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.Version)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.IsEnabled, "Доступен")
                    @Html.CheckBoxFor(m=>m.IsEnabled, new { @class="form-check" })
                    @Html.ValidationMessageFor(m=>m.IsEnabled)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Comment, "Комментарий")
                    @Html.TextAreaFor(m=>m.Comment, 3, 1, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.Comment)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.LastChange, "Последнее изменение")
                    @Html.TextBoxFor(m=>m.LastChange, null, new { @class="form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m=>m.LastChange)
                </div>
                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="col-md-6">
            @if (!@User.IsInRole("Оператор"))
            {
                <a class="btn btn-block btn-primary" href="/RecipeIngredient/Create?productRecipeId=@Model.Id">Добавить</a>
            }
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Сырье</th>
                            <th>Активность</th>
                            <th>Содержание, %</th>
                            <th style="width: 80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.RecipeIngredients)
                        {
                            <tr>
                                <td>@p.Resource?.ShortName</td>
                                <td>@p.Resource?.Activity</td>
                                <td>@p.ResourceContent.ToString("F3")</td>
                                <td>
                                    @if (!@User.IsInRole("Оператор"))
                                    {
                                        var deleteModal = "deleteModal" + @p.Id;
                                        <a href="@Url.Action("Edit", "RecipeIngredient", new {id=p.Id})" class="table-button"><i class="fa fa-pencil"></i></a>
                                        <span>|</span>
                                        <a href="#" data-target="#@deleteModal" data-toggle="modal" data-id="@p.Id" class="table-button"><i class="fa fa-trash table-button"></i></a>
                                        using (Html.BeginForm("Delete", "RecipeIngredient", new { id = @p.Id }))
                                        {
                                            <div class="confirm-delete" id="@deleteModal">
                                                <partial name="_ConfirmDeletePartial" />
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Всего:</th>
                            <th></th>
                            <th>@Model.RecipeIngredients.Sum(x => x.ResourceContent).ToString("F3")</th>
                            <th></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
