@model ProductRecipeViewModel
@{
    ViewData["Title"] = "Изменить рецепт";
}

<div class="container">
    @Html.ValidationSummary()
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
            <div class="mb-4">
                <h3>Изменить рецепт</h3>
            </div>
            <form asp-action="Edit" asp-controller="ProductRecipe">
                <div class="form-group">
                    @Html.LabelFor(m=>m.ProductId, "Продукт")
                    @Html.DropDownListFor(m=>m.ProductId, new SelectList(ViewBag.Products, "Id", "ShortName"),
                    new { @class="form-control", @readonly="readonly" })
                    @Html.ValidationMessageFor(m=>m.ProductId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Version, "Версия")
                    @Html.TextBoxFor(m=>m.Version, null, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.Version)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.IsEnabled, "Доступен")
                    @Html.CheckBoxFor(m=>m.IsEnabled, new { @class="form-check" })
                    @Html.ValidationMessageFor(m=>m.IsEnabled)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Comment, "Комментарий")
                    @Html.TextAreaFor(m=>m.Comment, 3, 1, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.Comment)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.LastChange, "Последнее изменение")
                    @Html.TextBoxFor(m=>m.LastChange, null, new { @class="form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m=>m.LastChange)
                </div>
                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
