@model Agro.Pagination.PaginatedList<ResourceViewModel>
@{
    ViewData["Title"] = "Сырье";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Сырье</h2>
                </div>
                <div class="col-sm-4">
                    <div class="btn-toolbar">
                        @if (!@User.IsInRole("Оператор"))
                        {
                            <a class="btn btn-block btn-primary" href="/Resource/Create">Добавить</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 mb-3 filter-panel">
            @using (Html.BeginForm("Index", "Resource", FormMethod.Get))
            {
                @Html.DropDownList("resourceTypeId", new SelectList(ViewBag.ResourceTypes, "Id", "Name"),
                    "Все типы сырья", new { @class="form-select filter-input" })
                @Html.DropDownList("dosingTypeId", new SelectList(ViewBag.DosingTypes, "Id", "Name"),
                    "Все типы дозирования", new { @class="form-select filter-input" })
                @Html.TextBox("filter", null, new { @class="form-control filter-input", @placeholder = "Название" })
                <input type="submit" value="Поиск" class="btn btn-secondary filter-input" />
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Код", "Index", new { sortOrder = ViewBag.CodeSortParam })</th>
                    <th>@Html.ActionLink("Сокращенное название", "Index", new { sortOrder = ViewBag.ShortNameSortParam })</th>
                    <th>Полное название</th>
                    <th>Тип сырья</th>
                    <th>Тип дозирования</th>
                    <th style="width: 80px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Code</td>
                        <td>@p.ShortName</td>
                        <td>@p.Name</td>
                        <td>@p.ResourceType?.Name</td>
                        <td>@p.DosingType?.Name</td>
                        <td>
                            @if (@User.IsInRole("Оператор"))
                            {
                                <a href="@Url.Action("Watch", "Resource", new {id=p.Id})" class="table-button"><i class="fa fa-eye"></i></a>
                            }
                            @if (!@User.IsInRole("Оператор"))
                            {
                                var deleteModal = "deleteModal" + @p.Id;
                                <a href="@Url.Action("Edit", "Resource", new {id=p.Id})" class="table-button"><i class="fa fa-pencil"></i></a>
                                <span>|</span>
                                <a href="#" data-target="#@deleteModal" data-toggle="modal" data-id="@p.Id" class="table-button"><i class="fa fa-trash table-button"></i></a>
                                using (Html.BeginForm("Delete", "Resource", new { id = @p.Id }))
                                {
                                    <div class="confirm-delete" id="@deleteModal">
                                        <partial name="_ConfirmDeletePartial" />
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <partial name="_PaginationPartial" />
    </nav>
</div>
