@model Agro.Pagination.PaginatedList<BatchReportViewModel>
@{
    ViewData["Title"] = "Отчет о дозировании";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Отчет о дозировании</h2>
                </div>
            </div>
        </div>
        <div class="card p-3 mb-3 filter-panel">
            @using (Html.BeginForm("Index", "BatchReport", FormMethod.Get))
            {
                @Html.TextBox("filter", null, new { @class="form-control filter-input", @placeholder = "Номер заказа или продукт" })
                <input type="submit" value="Поиск" class="btn btn-secondary filter-input" />
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Номер задания", "Index", new { sortOrder = ViewBag.ManufNrSortParam })</th>
                    <th>Номер порции</th>
                    <th>Продукт</th>
                    <th>Заданный вес, кг</th>
                    <th>Отдозированный вес, кг</th>
                    <th>Отклонение, кг</th>
                    <th>@Html.ActionLink("Начало дозирования", "Index", new { sortOrder = ViewBag.StartTimeSortParam })</th>
                    <th>@Html.ActionLink("Конец дозирования", "Index", new { sortOrder = ViewBag.EndTimeSortParam })</th>
                    <th style="width: 80px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.ManufNr</td>
                        <td>@p.BatchNum</td>
                        <td>@p.ProductName (Версия: @p.ProductVersion)</td>
                        <td>@p.ReqWeight.ToString("F2")</td>
                        <td>@p.RealWeight.ToString("F2")</td>
                        <td>@((p.RealWeight - p.ReqWeight).ToString("F2"))</td>
                        <td>@p.StartTime</td>
                        <td>@p.EndTime</td>
                        <td>
                            <a href="@Url.Action("Index", "TechCardReport", new {dosingTaskId=p.DosingTaskId, batchNum=p.BatchNum})" class="table-button"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <partial name="_PaginationPartial" />
    </nav>
</div>
