@model Agro.Pagination.PaginatedList<UserViewModel>
@{
    ViewData["Title"] = "Пользователи";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Пользователи</h2>
                </div>
                <div class="col-sm-4">
                    <div class="btn-toolbar">
                        @if (@User.IsInRole("Администратор"))
                        {
                            <a class="btn btn-block btn-primary" href="/User/Create">Добавить</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 mb-3 filter-panel">
            @using (Html.BeginForm("Index", "User", FormMethod.Get))
            {
                @Html.DropDownList("userRoleId", new SelectList(ViewBag.UserRoles, "Id", "Name"),
                    "Все роли", new { @class="form-select filter-input" })
                @Html.TextBox("filter", null, new { @class="form-control filter-input", @placeholder = "Имя" })
                <input type="submit" value="Поиск" class="btn btn-secondary filter-input" />
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>@Html.ActionLink("Полное имя", "Index", new { sortOrder = ViewBag.FullNameSortParam })</th>
                    <th>Роль</th>
                    <th style="width: 80px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.UserName</td>
                        <td>@p.FullName</td>
                        <td>@p.UserRole?.Name</td>
                        <td>
                            @if (@User.IsInRole("Администратор"))
                            {
                                var deleteModal = "deleteModal" + @p.Id;
                                <a href="@Url.Action("Edit", "User", new {id=p.Id})" class="table-button"><i class="fa fa-pencil"></i></a>
                                <span>|</span>
                                <a href="#" data-target="#@deleteModal" data-toggle="modal" data-id="@p.Id" class="table-button"><i class="fa fa-trash table-button"></i></a>
                                using (Html.BeginForm("Delete", "User", new { id = @p.Id }))
                                {
                                    <div class="confirm-delete" id="@deleteModal">
                                        <partial name="_ConfirmDeletePartial" />
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav>
        <partial name="_PaginationPartial" />
    </nav>
</div>
