@model LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
            <div class="mb-4">
                <h3>Авторизация</h3>
            </div>
            <form asp-action="Login" asp-controller="User">
                <div class="form-group">
                    @Html.LabelFor(m=>m.UserName, "Имя пользователя")
                    @Html.TextBoxFor(m=>m.UserName, null, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m=>m.Password, "Пароль")
                    @Html.PasswordFor(m=>m.Password, new { @class="form-control" })
                    @Html.ValidationMessageFor(m=>m.Password)
                </div>
                <button type="submit" class="btn btn-block btn-primary">Войти</button>
            </form>
        </div>
    </div>
</div>